body {
  	margin: 0;
  	line-height: normal;
}
.gambar-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1920px;
  	height: 810px;
}
.tambah {
  	position: relative;
  	font-weight: 600;
}
.tombol-1 {
  	position: absolute;
  	top: 582px;
  	left: 460px;
  	border-radius: 10px;
  	background-color: #4262ff;
  	width: 539px;
  	height: 68px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.tombol-2 {
  	position: absolute;
  	top: 582px;
  	left: 1027px;
  	border-radius: 10px;
  	background-color: #fff;
  	width: 432px;
  	height: 68px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	cursor: pointer;
  	color: #4262ff;
}
.taglne {
  	position: absolute;
  	top: 152px;
  	left: 0px;
  	width: 1920px;
  	height: 810px;
}
.footer-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #192347;
  	width: 1920px;
  	height: 644px;
}
.footer-item {
  	position: absolute;
  	top: 505.5px;
  	left: 94.49px;
  	border-top: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1731px;
  	height: 1px;
}
.binz {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
}
.mendorong-inovasi-dalam {
  	position: absolute;
  	top: 65px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 250px;
  	height: 202px;
  	opacity: 0.6;
}
.perusahaan {
  	position: absolute;
  	top: 127px;
  	left: 95px;
  	width: 250px;
  	height: 267px;
}
.tentang-kami {
  	margin: 0;
}
.tentang-kami-blog-container1 {
  	width: 100%;
}
.tentang-kami-blog-container {
  	position: absolute;
  	top: 65px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 203px;
  	height: 193px;
  	opacity: 0.6;
}
.tautan {
  	position: absolute;
  	top: 127px;
  	left: 572px;
  	width: 280px;
  	height: 258px;
}
.pemasaran-teknologi-keuangan-container1 {
  	line-break: anywhere;
  	width: 100%;
}
.pemasaran-teknologi-keuangan-container {
  	position: absolute;
  	top: 70px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 145px;
  	height: 193px;
  	opacity: 0.6;
}
.departemen {
  	position: absolute;
  	top: 127px;
  	left: 1049px;
  	width: 265px;
  	height: 263px;
}
.jl-jenderal-sudirman-container {
  	position: absolute;
  	top: 70px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 236px;
  	height: 170px;
  	opacity: 0.6;
}
.linkind-icon {
  	position: absolute;
  	height: 88.15%;
  	width: 12.91%;
  	top: 5.97%;
  	right: 87.09%;
  	bottom: 5.89%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.x-icon {
  	position: absolute;
  	height: 88.89%;
  	width: 13.71%;
  	top: 5.64%;
  	right: 57.43%;
  	bottom: 5.47%;
  	left: 28.86%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.ig-icon {
  	position: absolute;
  	height: 94.07%;
  	width: 14.23%;
  	top: 2.93%;
  	right: 30.2%;
  	bottom: 3%;
  	left: 55.57%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.wa-icon {
  	position: absolute;
  	height: 100%;
  	width: 14.97%;
  	top: 0%;
  	right: -0.01%;
  	bottom: 0%;
  	left: 85.04%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.sosmed-logo {
  	position: absolute;
  	height: 9.38%;
  	width: 58.29%;
  	top: 90.63%;
  	right: 41.71%;
  	bottom: 0%;
  	left: 0%;
}
.contact {
  	position: absolute;
  	top: 127px;
  	left: 1526px;
  	width: 299px;
  	height: 288px;
}
.binz-seluruh-hak {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 566px;
  	height: 17px;
  	opacity: 0.6;
}
.kopi-kanan {
  	position: absolute;
  	top: 565px;
  	left: 677px;
  	width: 566px;
  	height: 17px;
  	font-size: 24px;
}
.footer {
  	position: absolute;
  	top: 4482px;
  	left: 0px;
  	width: 1920px;
  	height: 644px;
  	font-size: 40px;
}
.content-lowongan-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 40px 40px 0px 0px;
  	background-color: #efefef;
  	width: 1920px;
  	height: 1065px;
}
.mengapa-memilih-binz {
  	position: absolute;
  	top: 0px;
  	left: 388px;
  	line-height: 121.89%;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 822px;
}
.kami-tidak-hanya {
  	position: absolute;
  	top: 78px;
  	left: calc(50% - 862px);
  	font-size: 36px;
  	line-height: 121.89%;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1724px;
}
.teks {
  	position: absolute;
  	top: 81px;
  	left: 122px;
  	width: 1724px;
  	height: 166px;
}
.team-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.54);
  	box-sizing: border-box;
  	width: 498px;
  	height: 564px;
}
.logo-icon {
  	position: absolute;
  	top: 109px;
  	left: 199px;
  	width: 100px;
  	height: 100px;
  	object-fit: contain;
}
.tim-ahli-berpengalaman {
  	position: absolute;
  	top: 0px;
  	left: 28px;
  	display: inline-block;
  	width: 417px;
}
.tim-kami-terdiri {
  	position: absolute;
  	top: 59px;
  	left: calc(50% - 237px);
  	font-size: 24px;
  	text-align: center;
  	display: inline-block;
  	width: 474px;
  	height: 116px;
}
.teks1 {
  	position: absolute;
  	top: 247px;
  	left: 12px;
  	width: 474px;
  	height: 175px;
}
.team {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 498px;
  	height: 564px;
}
.logo-icon1 {
  	position: absolute;
  	top: 109px;
  	left: 199px;
  	width: 100px;
  	height: 100px;
}
.solusi-berbasis-data {
  	position: absolute;
  	top: 0px;
  	left: 28px;
  	display: inline-block;
  	width: 342px;
}
.setiap-strategi-yang {
  	position: absolute;
  	top: 59px;
  	left: calc(50% - 198.5px);
  	font-size: 24px;
  	text-align: center;
  	display: inline-block;
  	width: 397px;
  	height: 116px;
}
.teks2 {
  	position: absolute;
  	top: 247px;
  	left: 50px;
  	width: 397px;
  	height: 175px;
}
.solusi {
  	position: absolute;
  	top: 0px;
  	left: 628px;
  	width: 498px;
  	height: 564px;
}
.kemitraan-jangka-panjang {
  	position: absolute;
  	top: 0px;
  	left: 9px;
  	display: inline-block;
  	width: 455px;
}
.kami-berkomitmen-untuk {
  	position: absolute;
  	top: 59px;
  	left: calc(50% - 237px);
  	font-size: 24px;
  	display: inline-block;
  	width: 474px;
  	height: 81px;
}
.teks3 {
  	position: absolute;
  	top: 247px;
  	left: 12px;
  	width: 474px;
  	height: 140px;
}
.mitra {
  	position: absolute;
  	top: 0px;
  	left: 1256px;
  	width: 498px;
  	height: 564px;
  	text-align: center;
}
.content {
  	position: absolute;
  	top: 365px;
  	left: 87px;
  	filter: drop-shadow(13px 14px 10px rgba(0, 0, 0, 0.25));
  	width: 1754px;
  	height: 564px;
  	font-size: 32px;
}
.content-lowongan {
  	position: absolute;
  	top: 962px;
  	left: 0px;
  	width: 1920px;
  	height: 1065px;
  	font-size: 64px;
  	color: #000;
}
.layanan-unggulan-kami {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 423px);
  	line-height: 121.89%;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 846px;
}
.dari-strategi-hingga {
  	position: absolute;
  	top: 105px;
  	left: calc(50% - 862px);
  	font-size: 36px;
  	line-height: 121.89%;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1724px;
}
.teks4 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 861.5px);
  	width: 1724px;
  	height: 193px;
}
.konsul-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.54);
  	box-sizing: border-box;
  	width: 498px;
  	height: 667px;
}
.pelajari-lebih-lanjut {
  	position: absolute;
  	top: 251px;
  	left: 3px;
  	color: #4262ff;
}
.konsultasi-strategi-bisnis {
  	position: absolute;
  	top: 0px;
  	left: 3px;
  	font-size: 32px;
  	display: inline-block;
  	width: 434px;
}
.membantu-anda-merumuskan {
  	position: absolute;
  	top: 67px;
  	left: calc(50% - 222.5px);
  	font-size: 24px;
  	display: inline-block;
  	width: 445px;
  	height: 116px;
}
.teks5 {
  	position: absolute;
  	top: 338px;
  	left: 27px;
  	width: 445px;
  	height: 275px;
}
.konsul-img-icon {
  	position: absolute;
  	top: 0px;
  	left: 1px;
  	width: 496px;
  	height: 286px;
  	object-fit: cover;
}
.konsul {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 498px;
  	height: 667px;
  	font-size: 20px;
}
.digital-marketing {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 190.5px);
  	display: inline-block;
  	width: 349px;
}
.meningkatkan-visibilitas-merek {
  	position: absolute;
  	top: 67px;
  	left: calc(50% - 190.5px);
  	font-size: 24px;
  	display: inline-block;
  	width: 381px;
  	height: 116px;
}
.pelajari-lebih-lanjut1 {
  	position: absolute;
  	top: 251px;
  	left: 0px;
  	font-size: 20px;
  	color: #4262ff;
}
.teks6 {
  	position: absolute;
  	top: 338px;
  	left: calc(50% - 221px);
  	width: 381px;
  	height: 275px;
}
.digital-marketing-img {
  	position: absolute;
  	top: 1px;
  	left: 1px;
  	width: 496px;
  	height: 285px;
  	object-fit: cover;
}
.pemasaran1 {
  	position: absolute;
  	top: 0px;
  	left: 594px;
  	width: 498px;
  	height: 667px;
}
.pengembangan-teknologi {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 225px);
  	display: inline-block;
  	width: 450px;
}
.membangun-solusi-perangkat {
  	position: absolute;
  	top: 78px;
  	left: calc(50% - 225px);
  	font-size: 24px;
  	display: inline-block;
  	width: 441px;
  	height: 110px;
}
.pelajari-lebih-lanjut2 {
  	position: absolute;
  	top: 262px;
  	left: 0px;
  	font-size: 20px;
  	color: #4262ff;
}
.teks7 {
  	position: absolute;
  	top: 327px;
  	left: calc(50% - 225px);
  	width: 450px;
  	height: 286px;
}
.teknologi-img-icon {
  	position: absolute;
  	top: 1px;
  	left: 1px;
  	width: 496px;
  	height: 286px;
  	object-fit: contain;
}
.teknologi1 {
  	position: absolute;
  	top: 0px;
  	left: 1222px;
  	width: 498px;
  	height: 667px;
}
.content1 {
  	position: absolute;
  	top: 294px;
  	left: 0px;
  	filter: drop-shadow(13px 14px 10px rgba(0, 0, 0, 0.25));
  	width: 1720px;
  	height: 667px;
  	font-size: 32px;
}
.layanan {
  	position: absolute;
  	top: 2115px;
  	left: calc(50% - 873px);
  	width: 1725px;
  	height: 961px;
  	font-size: 64px;
  	color: #000;
}
.review-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #4262ff;
  	width: 1920px;
  	height: 692px;
}
.apa-kata-klien {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 264px);
  	line-height: 121.89%;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	width: 528px;
}
.kami-bangga-telah {
  	position: absolute;
  	top: 81px;
  	left: 0px;
  	font-size: 32px;
  	line-height: 121.89%;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1384px;
}
.teks8 {
  	position: absolute;
  	top: 93px;
  	left: calc(50% - 703px);
  	width: 1384px;
  	height: 120px;
}
.komen-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 40px;
  	background-color: #fff;
  	width: 1363px;
  	height: 343px;
}
.pp-icon {
  	position: absolute;
  	top: 36px;
  	left: 41px;
  	width: 100px;
  	height: 100px;
  	object-fit: cover;
}
.binzu-osamu {
  	position: absolute;
  	top: 0px;
  	left: 136px;
  	line-height: 119.32%;
  	font-weight: 500;
}
.ceo-phantom-inc {
  	position: absolute;
  	top: 38px;
  	left: 136px;
  	font-size: 20px;
  	line-height: 119.32%;
  	color: rgba(0, 0, 0, 0.53);
}
.bekerja-dengan-bizcorp {
  	position: absolute;
  	top: 124px;
  	left: calc(50% - 641.5px);
  	line-height: 119.32%;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	width: 1283px;
}
.teks-komen {
  	position: absolute;
  	top: 48px;
  	left: 41px;
  	width: 1283px;
  	height: 238px;
}
.komen {
  	position: absolute;
  	top: 260px;
  	left: 279px;
  	width: 1363px;
  	height: 343px;
  	text-align: center;
  	font-size: 32px;
  	color: #000;
  	font-family: 'SF Pro';
}
.review {
  	position: absolute;
  	top: 3190px;
  	left: 0px;
  	width: 1920px;
  	height: 692px;
  	font-size: 48px;
}
.talent-comunity-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #f4f8ff;
  	width: 1920px;
  	height: 600px;
}
.siap-mengambil-langkah {
  	position: absolute;
  	top: 173px;
  	left: 316px;
  	font-size: 64px;
  	line-height: 121.89%;
  	font-weight: 800;
}
.mari-diskusikan-bagaimana {
  	position: absolute;
  	top: 261px;
  	left: 137px;
  	line-height: 121.89%;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1646px;
}
.tombol-11 {
  	position: absolute;
  	top: 380px;
  	left: 744px;
  	border-radius: 15px;
  	background-color: #4262ff;
  	width: 425px;
  	height: 61px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	color: #fff;
}
.talent-comunity {
  	position: absolute;
  	top: 3882px;
  	left: 0px;
  	width: 1920px;
  	height: 600px;
  	color: #000;
}
.header-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	box-shadow: 0px 4px 10px 11px rgba(0, 0, 0, 0.25);
  	background-color: #fff;
}
.binz1 {
  	position: absolute;
  	height: 73.68%;
  	width: 8.23%;
  	top: 13.16%;
  	left: 8.44%;
  	font-size: 64px;
  	font-family: Pacifico;
  	color: #4262ff;
  	text-align: left;
  	display: inline-block;
  	cursor: pointer;
}
.beranda1 {
  	position: absolute;
  	height: 11.18%;
  	width: 7.03%;
  	top: 47.37%;
  	left: 23.85%;
  	font-size: 30px;
  	line-height: 121.89%;
  	display: flex;
  	color: #4262ff;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.tenatang-kami {
  	position: absolute;
  	height: 21.05%;
  	width: 12.97%;
  	top: 46.71%;
  	left: 34.84%;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.header-item {
  	position: absolute;
  	height: 1.97%;
  	width: 7.19%;
  	top: 62.17%;
  	right: 69.04%;
  	bottom: 35.86%;
  	left: 23.78%;
  	border-top: 3px solid #4262ff;
  	box-sizing: border-box;
  	cursor: pointer;
}
.karier1 {
  	position: absolute;
  	height: 21.05%;
  	width: 5.52%;
  	top: 46.71%;
  	left: 51.77%;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.hubungi-kami1 {
  	position: absolute;
  	height: 21.05%;
  	width: 12.66%;
  	top: 46.71%;
  	left: 61.25%;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.tambah3 {
  	position: relative;
}
.tombol-12 {
  	position: absolute;
  	height: 29.61%;
  	width: 12.76%;
  	top: 42.11%;
  	right: 7.6%;
  	bottom: 28.29%;
  	left: 79.64%;
  	border-radius: 20px;
  	background-color: #4262ff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	text-align: left;
  	color: #fff;
}
.header {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1920px;
  	height: 152px;
  	text-align: center;
  	font-size: 24px;
  	color: #434343;
}
.beranda {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 5126px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 32px;
  	color: #fff;
  	font-family: Montserrat;
}

