.kami-siap-mendengar {
  	position: absolute;
  	top: 146px;
  	left: 0px;
  	font-size: 40px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1453px;
  	height: 102px;
}
.teks {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1453px;
  	height: 248px;
}
.tagline {
  	position: absolute;
  	top: 356px;
  	left: 233px;
  	width: 1453px;
  	height: 248px;
}
.footer-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #192347;
  	width: 1920px;
  	height: 644px;
}
.footer-item {
  	position: absolute;
  	top: 505.5px;
  	left: 94.49px;
  	border-top: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1731px;
  	height: 1px;
}
.binz {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
}
.mendorong-inovasi-dalam {
  	position: absolute;
  	top: 65px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 250px;
  	height: 202px;
  	opacity: 0.6;
}
.perusahaan {
  	position: absolute;
  	top: 127px;
  	left: 95px;
  	width: 250px;
  	height: 267px;
}
.tentang-kami {
  	margin: 0;
}
.tentang-kami-blog-container1 {
  	width: 100%;
}
.tentang-kami-blog-container {
  	position: absolute;
  	top: 65px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 203px;
  	height: 193px;
  	opacity: 0.6;
}
.tautan {
  	position: absolute;
  	top: 127px;
  	left: 572px;
  	width: 280px;
  	height: 258px;
}
.pemasaran-teknologi-keuangan-container1 {
  	line-break: anywhere;
  	width: 100%;
}
.pemasaran-teknologi-keuangan-container {
  	position: absolute;
  	top: 70px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 145px;
  	height: 193px;
  	opacity: 0.6;
}
.departemen {
  	position: absolute;
  	top: 127px;
  	left: 1049px;
  	width: 265px;
  	height: 263px;
}
.jl-jenderal-sudirman-container {
  	position: absolute;
  	top: 70px;
  	left: 0px;
  	font-size: 24px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 236px;
  	height: 170px;
  	opacity: 0.6;
}
.linkind-icon {
  	position: absolute;
  	height: 88.1%;
  	width: 12.91%;
  	top: 5.96%;
  	right: 87.09%;
  	bottom: 5.94%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.x-icon {
  	position: absolute;
  	height: 88.49%;
  	width: 13.71%;
  	top: 5.63%;
  	right: 57.43%;
  	bottom: 5.88%;
  	left: 28.86%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.ig-icon {
  	position: absolute;
  	height: 94.05%;
  	width: 14.23%;
  	top: 2.93%;
  	right: 30.2%;
  	bottom: 3.02%;
  	left: 55.57%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.wa-icon {
  	position: absolute;
  	height: 100%;
  	width: 14.97%;
  	top: 0%;
  	right: -0.01%;
  	bottom: 0%;
  	left: 85.04%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.sosmed-logo {
  	position: absolute;
  	height: 8.86%;
  	width: 58.29%;
  	top: 91.16%;
  	right: 41.71%;
  	bottom: -0.02%;
  	left: 0%;
}
.contact {
  	position: absolute;
  	top: 127px;
  	left: 1526px;
  	width: 299px;
  	height: 284.4px;
}
.binz-seluruh-hak {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 566px;
  	height: 17px;
  	opacity: 0.6;
}
.kopi-kanan {
  	position: absolute;
  	top: 565px;
  	left: 677px;
  	width: 566px;
  	height: 17px;
  	font-size: 24px;
}
.footer {
  	position: absolute;
  	top: 3534px;
  	left: 0px;
  	width: 1920px;
  	height: 644px;
  	text-align: left;
  	font-size: 40px;
  	color: #fff;
}
.kirim-pesan-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #efefef;
  	width: 1920px;
  	height: 1320px;
}
.card-child {
  	position: absolute;
  	top: 0px;
  	left: 2px;
  	border-radius: 60px;
  	background-color: #fff;
  	width: 1632px;
  	height: 1082px;
}
.info-kontak-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 60px 0px 0px 60px;
  	background-color: #4262ff;
  	width: 816px;
  	height: 1082px;
}
.informasi-kontak {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 434px;
  	height: 32.1px;
}
.anda-dapat-menghubungi {
  	position: absolute;
  	top: 84.66px;
  	left: calc(50% - 290.5px);
  	font-size: 24px;
  	line-height: 121.01%;
  	font-family: Inter;
  	color: rgba(255, 255, 255, 0.75);
  	display: flex;
  	align-items: center;
  	width: 581px;
  	height: 77.6px;
}
.teks-tag {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 581px;
  	height: 162.2px;
  	font-size: 48px;
}
.logo-icon {
  	position: absolute;
  	height: 40.25%;
  	width: 4.68%;
  	top: 0%;
  	right: 95.32%;
  	bottom: 59.75%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.alamat-kantor {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 274px;
  	height: 25.9px;
}
.jl-jenderal-sudirman1 {
  	position: absolute;
  	top: 25.86px;
  	left: calc(50% - 256px);
  	font-size: 24px;
  	line-height: 121.01%;
  	font-family: Inter;
  	color: rgba(255, 255, 255, 0.75);
  	display: flex;
  	align-items: center;
  	width: 512px;
  	height: 51.7px;
}
.teks1 {
  	position: absolute;
  	top: 3.87px;
  	left: 44px;
  	width: 512px;
  	height: 77.6px;
}
.alamat {
  	position: absolute;
  	height: 10.11%;
  	width: 95.7%;
  	top: 32.82%;
  	right: 4.3%;
  	bottom: 57.07%;
  	left: 0%;
}
.logo-email-child {
  	position: absolute;
  	height: 116.85%;
  	width: 111.54%;
  	top: 0%;
  	right: -11.54%;
  	bottom: -16.85%;
  	left: 0%;
  	border-radius: 2px;
  	border: 3px solid #fff;
  	box-sizing: border-box;
}
.logo-email-item {
  	position: absolute;
  	height: 33.15%;
  	width: 100%;
  	top: 25.05%;
  	right: 0%;
  	bottom: 41.81%;
  	left: 0%;
  	border-radius: 2px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.logo-email {
  	position: absolute;
  	height: 27.73%;
  	width: 10%;
  	top: 6.95%;
  	right: 90%;
  	bottom: 65.33%;
  	left: 0%;
}
.email-kami {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 216px;
  	height: 25.9px;
}
.kontakbinzcom {
  	position: absolute;
  	top: 38.34px;
  	left: calc(50% - 105px);
  	font-size: 24px;
  	line-height: 121.01%;
  	font-family: Inter;
  	color: rgba(255, 255, 255, 0.75);
  	display: flex;
  	align-items: center;
  	width: 203px;
  	height: 25.9px;
}
.teks2 {
  	position: absolute;
  	top: 0px;
  	left: 44px;
  	width: 216px;
  	height: 64.2px;
}
.email {
  	position: absolute;
  	height: 7.97%;
  	width: 44.75%;
  	top: 51.86%;
  	right: 55.25%;
  	bottom: 40.17%;
  	left: 0%;
}
.kontak-child {
  	position: absolute;
  	height: 36.14%;
  	width: 10.12%;
  	top: 2.78%;
  	right: 89.88%;
  	bottom: 61.08%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.teks3 {
  	position: absolute;
  	top: 0px;
  	left: 41px;
  	width: 216px;
  	height: 64.2px;
}
.kontak {
  	position: absolute;
  	height: 7.97%;
  	width: 44.23%;
  	top: 70.97%;
  	right: 55.77%;
  	bottom: 21.07%;
  	left: 0%;
}
.ikuti-kami {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	width: 199px;
  	height: 25.9px;
}
.linkind-icon1 {
  	position: absolute;
  	height: 93.6%;
  	width: 18.48%;
  	top: 3.23%;
  	right: 81.52%;
  	bottom: 3.17%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.x-icon1 {
  	position: absolute;
  	height: 94.2%;
  	width: 19.64%;
  	top: 2.88%;
  	right: 39.01%;
  	bottom: 2.92%;
  	left: 41.35%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.ig-icon1 {
  	position: absolute;
  	height: 100%;
  	width: 20.36%;
  	top: 0%;
  	right: 0.01%;
  	bottom: 0%;
  	left: 79.63%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.sosmed-logo1 {
  	position: absolute;
  	height: 51.55%;
  	width: 100%;
  	top: 48.45%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.sosmed {
  	position: absolute;
  	top: 709px;
  	left: 0px;
  	width: 250px;
  	height: 97px;
}
.konten {
  	position: absolute;
  	top: 138px;
  	left: 117px;
  	width: 581px;
  	height: 806px;
}
.info-kontak {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 816px;
  	height: 1082px;
}
.kotak-pesan-child {
  	position: absolute;
  	top: 0px;
  	left: 818px;
  	border-radius: 60px 0px 0px 60px;
  	background-color: #fff;
  	width: 818px;
  	height: 1082px;
  	transform:  rotate(180deg);
  	transform-origin: 0 0;
}
.informasi-kontak1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 48px;
  	line-height: 121.89%;
  	display: flex;
  	font-family: Montserrat;
  	align-items: center;
  	width: 434px;
  	height: 30.3px;
}
.tambah {
  	position: relative;
  	font-weight: 600;
}
.tombol-1 {
  	position: absolute;
  	top: 745px;
  	left: 0px;
  	border-radius: 20px;
  	background-color: #4262ff;
  	width: 630px;
  	height: 61px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	font-size: 32px;
  	color: #fff;
  	font-family: Montserrat;
}
.nama-lengkap {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 315px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 171px;
  	height: 24px;
}
.kotak-isi-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 630px;
  	height: 57px;
}
.jono-sutejo {
  	position: absolute;
  	top: 18px;
  	left: calc(50% - 300px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 171px;
  	height: 21px;
}
.kotak-isi {
  	position: absolute;
  	top: 26px;
  	left: 0px;
  	width: 630px;
  	height: 57px;
  	color: rgba(0, 0, 0, 0.45);
}
.nama {
  	position: absolute;
  	top: 80px;
  	left: calc(50% - 315px);
  	width: 630px;
  	height: 83px;
}
.alamat-email {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 315px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 150px;
  	height: 24px;
}
.examplegmailcom {
  	position: absolute;
  	top: 18px;
  	left: calc(50% - 300px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 262px;
  	height: 21px;
}
.kotak-isi1 {
  	position: absolute;
  	top: 35px;
  	left: 0px;
  	width: 630px;
  	height: 57px;
  	color: rgba(0, 0, 0, 0.45);
}
.email1 {
  	position: absolute;
  	top: 213px;
  	left: calc(50% - 315px);
  	width: 630px;
  	height: 92px;
}
.subjek1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 315px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 80px;
  	height: 24px;
}
.contoh-pertanyaan-tentang {
  	position: absolute;
  	top: 18px;
  	left: calc(50% - 300px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 596px;
  	height: 21px;
}
.kotak-isi2 {
  	position: absolute;
  	top: 24px;
  	left: 0px;
  	width: 630px;
  	height: 57px;
  	color: rgba(0, 0, 0, 0.45);
}
.subjek {
  	position: absolute;
  	top: 355px;
  	left: calc(50% - 315px);
  	width: 630px;
  	height: 81px;
}
.pesan1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 315px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 71px;
  	height: 24px;
}
.rectangle-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 630px;
  	height: 154px;
}
.tuliskan-pesan-anda {
  	position: absolute;
  	top: 24px;
  	left: calc(50% - 300px);
  	line-height: 121.01%;
  	display: flex;
  	align-items: center;
  	width: 596px;
  	height: 20px;
}
.kotak-isi3 {
  	position: absolute;
  	top: 34px;
  	left: 0px;
  	width: 630px;
  	height: 154px;
  	color: rgba(0, 0, 0, 0.45);
}
.pesan {
  	position: absolute;
  	top: 486px;
  	left: calc(50% - 315px);
  	width: 630px;
  	height: 188px;
}
.konten1 {
  	position: absolute;
  	top: 138px;
  	left: 94px;
  	width: 630px;
  	height: 806px;
}
.kotak-pesan {
  	position: absolute;
  	top: 0px;
  	left: 816px;
  	width: 818px;
  	height: 1082px;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.card {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1634px;
  	height: 1082px;
}
.content {
  	position: absolute;
  	top: 119px;
  	left: 143px;
  	width: 1634px;
  	height: 1082px;
}
.kirim-pesan {
  	position: absolute;
  	top: 800px;
  	left: 0px;
  	width: 1920px;
  	height: 1320px;
  	text-align: left;
  	font-size: 36px;
  	color: #fff;
}
.lokasi-kami {
  	position: absolute;
  	top: 0px;
  	left: 318px;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 734px;
  	height: 116px;
}
.teks4 {
  	position: absolute;
  	top: 0px;
  	left: 91px;
  	width: 1453px;
  	height: 248px;
}
.maps-icon {
  	position: absolute;
  	top: 368px;
  	left: 0px;
  	width: 1634px;
  	height: 770px;
  	object-fit: cover;
}
.lokasi {
  	position: absolute;
  	top: 2244px;
  	left: 143px;
  	width: 1634px;
  	height: 1138px;
}
.header-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	box-shadow: 0px 4px 10px 11px rgba(0, 0, 0, 0.25);
  	background-color: #fff;
}
.binz1 {
  	position: absolute;
  	height: 73.68%;
  	width: 8.23%;
  	top: 13.16%;
  	left: 8.44%;
  	font-size: 64px;
  	font-family: Pacifico;
  	color: #4262ff;
  	text-align: left;
  	display: inline-block;
  	cursor: pointer;
}
.beranda {
  	position: absolute;
  	height: 21.05%;
  	width: 7.03%;
  	top: 46.71%;
  	left: 23.85%;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.tenatang-kami {
  	position: absolute;
  	height: 21.05%;
  	width: 12.97%;
  	top: 46.71%;
  	left: 34.84%;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.header-item {
  	position: absolute;
  	height: 1.97%;
  	width: 11.77%;
  	top: 66.78%;
  	right: 26.54%;
  	bottom: 31.25%;
  	left: 61.69%;
  	border-top: 3px solid #4262ff;
  	box-sizing: border-box;
}
.karier1 {
  	position: absolute;
  	height: 21.05%;
  	width: 5.52%;
  	top: 46.71%;
  	left: 51.77%;
  	line-height: 121.89%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.hubungi-kami3 {
  	position: absolute;
  	height: 21.05%;
  	width: 12.66%;
  	top: 42.11%;
  	left: 61.25%;
  	font-size: 30px;
  	line-height: 121.89%;
  	display: flex;
  	color: #4262ff;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}
.tambah1 {
  	position: relative;
}
.tombol-11 {
  	position: absolute;
  	height: 29.61%;
  	width: 12.76%;
  	top: 42.11%;
  	right: 7.6%;
  	bottom: 28.29%;
  	left: 79.64%;
  	border-radius: 20px;
  	background-color: #4262ff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	text-align: left;
  	color: #fff;
}
.header {
  	position: absolute;
  	top: 0px;
  	left: -1px;
  	width: 1920px;
  	height: 152px;
  	font-size: 24px;
  	color: #434343;
}
.hubungi-kami {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 4178px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 96px;
  	color: #000;
  	font-family: Montserrat;
}
body {
  	margin: 0;
  	line-height: normal;
}